@{
    Layout = "_MasterLayout";
}
<!-- Header -->
<header class="secureLayout">
    <nav class="top-nav blue-grey lighten-1">
        <div class="nav-wrapper row valign-wrapper">
            <div class="col s12 valign-wrapper">
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <h5><a class="page-title">Automobile Service Center</a></h5>
            </div>
        </div>
    </nav>
</header>

<!-- Side NavBar -->
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="~/images/avartar.jpg">
            </div>
            <a href="#user"><img class="circle" src="~/images/avartar.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">User Administration<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">Manage Customers</a></li>
                        <li><a href="#!">Provision Users</a></li>
                        <li><a href="#!">Deactivate Users</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a class="collapsible-header" href="#!">
            <i class="material-icons">perm_data_setting</i>Service Requests
        </a>
    </li>
    <li>
        <a class="collapsible-header" href="#!">
            <i class="material-icons">message</i>Service Notifications
        </a>
    </li>
    <li>
        <a class="collapsible-header" href="#!">
            <i class="material-icons">inbox</i>Promotions
        </a>
    </li>
    <li>
        <a class="collapsible-header" href="#!">
            <i class="material-icons">settings</i>Settings
        </a>
    </li>
    <li>
        <a class="collapsible-header" href="#!">
            <i class="material-icons">exit_to_app</i>Logout
        </a>
    </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<!-- Render Body -->
<main class="secureLayout">
    <div class="row margin-bottom-0px">
        <div class="col s12">
            @RenderBody()
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="page-footer blue-grey lighten-1 secureLayout">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-lighten-4">
                Automobile Service Center is a certified company to perform car services. Our workshop operations started in October 2010. We primarily focus on providing better services to our customers, and as a result of our hard work, we were awarded as the "Best Service" for the year 2008 within a short period of time.
            </p>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Additional Services</h5>
            <ul>
                <li><a class="white-text" href="#!">Services</a></li>
                <li><a class="white-text" href="#!">Finance</a></li>
                <li><a class="white-text" href="#!">Used Cars</a></li>
                <li><a class="white-text" href="#!">Insurance</a></li>
                <li><a class="white-text" href="#!">Driving School</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
                <li><a class="white-text" href="#!">Facebook</a></li>
                <li><a class="white-text" href="#!">LinkedIn</a></li>
                <li><a class="white-text" href="#!">Twitter</a></li>
                <li><a class="white-text" href="#!">YouTube</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright row margin-bottom-0px">
        <div class="col s12">
            Powered by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
