@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/externallogin.css" />

<div class="external-login-container">
    <h1>@ViewData["Title"]</h1>
    <h2>Associate your @Model.ProviderDisplayName account</h2>

    <div class="alert alert-info">
        <p>
            You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.<br />
            Please enter an email address for this site below to finish logging in.
        </p>
    </div>

    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
            <label asp-for="Input.Email" class="form-label">Email address</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
