@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" href="~/css/confirmation.css" />

<div class="confirmation-container">
    <h1>@ViewData["Title"]</h1>
    <p>Please check your email to reset your password.</p>
    <a href="/Identity/Account/Login" class="confirmation-link">Return to Login</a>
</div>
