@page
@model ASC.Web.Areas.Identity.Pages.Account.InitiateResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/confirmation.css" />

<div class="confirmation-container">
    <h1>@ViewData["Title"]</h1>
    <p>@TempData["Message"]</p>
    <a href="/Identity/Account/Login" class="confirmation-link">Return to Login</a>
</div>