@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<style>
    .reset-form-container {
        max-width: 350px; /* Thu hẹp hơn nữa */
        margin: 0 auto; /* Căn giữa */
        padding: 15px; /* Thêm padding để không sát mép */
    }

        .reset-form-container .form-control {
            font-size: 0.9rem; /* Giảm kích thước font của input */
        }

        .reset-form-container .btn {
            font-size: 0.9rem; /* Giảm kích thước font của nút */
            padding: 8px; /* Giảm padding của nút */
        }
</style>

<div class="container my-4">
    <h1>@ViewData["Title"]</h1>
    <h2>Reset your password.</h2>
    <hr />
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 reset-form-container">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}