@page
@model ASC.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/confirmation.css" />

<div class="confirmation-container">
    <h1>@ViewData["Title"]</h1>
    <p>Your password has been reset successfully.</p>
    <p>@TempData["Message"]</p>
    <a href="/Identity/Account/Login" class="confirmation-link">Return to Login</a>
</div>